export(bef.getDataset)
export(bef.getKeywords)
export(bef.getMetadata)
export(bef.getProposal)
export(bef.getdata)
export(bef.options)
export(bef.portal.get)
export(bef.portal.get.attachment)
export(bef.portal.get.dataset)
export(bef.portal.get.dataset_list)
export(bef.portal.get.keywords)
export(bef.portal.get.metadata)
export(bef.portal.get.proposal)
export(bef.searchTematres)
export(bef.searchTematresLower)
export(bef.searchTematresUpper)
export(bef.tematres.search)
export(bef.tematres.search.broader_keywords)
export(bef.tematres.search.keywords)
export(bef.tematres.search.narrower_keywords)
import(RCurl)
import(XML)
import(rjson)
