export(bef.attach.to_dataset)
export(bef.attach.to_proposal)
export(bef.get.attachments)
export(bef.get.attachments_for)
export(bef.get.categories_for)
export(bef.get.dataset)
export(bef.get.dataset_by)
export(bef.get.datasets.for_keyword)
export(bef.get.datasets.for_proposal)
export(bef.get.keywords)
export(bef.get.metadata)
export(bef.get.metadata_for)
export(bef.getDataset)
export(bef.getKeywords)
export(bef.getMetadata)
export(bef.getProposal)
export(bef.mediawiki.api.define)
export(bef.options)
export(bef.portal.api.dataset_info)
export(bef.portal.api.proposal_info)
export(bef.portal.attach.to_dataset)
export(bef.portal.attach.to_proposal)
export(bef.portal.get)
export(bef.portal.get.attachments)
export(bef.portal.get.attachments_for)
export(bef.portal.get.categories_for)
export(bef.portal.get.dataset)
export(bef.portal.get.dataset_by)
export(bef.portal.get.dataset_list)
export(bef.portal.get.datasets.for_keyword)
export(bef.portal.get.datasets.for_proposal)
export(bef.portal.get.keywords)
export(bef.portal.get.metadata)
export(bef.portal.get.metadata_for)
export(bef.portal.get.proposal)
export(bef.portal.update.dataset)
export(bef.portal.upload.categories)
export(bef.portal.upload.dataset)
export(bef.portal.vizualize.keywords)
export(bef.tematres.api)
export(bef.update.dataset)
export(bef.upload.categories)
export(bef.upload.dataset)
export(bef.vizualize.keywords)
import(RColorBrewer)
import(RCurl)
import(XML)
import(rjson)
import(rtematres)
import(wordcloud)
